{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Task Master</h1>
    
    <h3>Show a file-select field which allows multiple files:</h3>
    <form action="/" method="POST">
        <label for="myfile">Select files:</label>
        <input type="file" id="myfile" name="myfile" multiple><br><br>
        <input type="submit">
    </form>

    {% for table in tables %}
            {{ table|safe }}
    {% endfor %}
</div>
{% endblock %}